/.svn
/plugins/wcx/deb/lib/*.o
/plugins/wcx/rpm/lib/*.o
/components/gifanim/lib/x86_64-win64/*.o
*.wcx
*.wdx
*.ppu
/install/windows/release
*.o
*.a
*.compiled
*.wfx
*.7z
*.obj
/node_modules/*
/doublecmd.dbg
/doublecmd.exe
/doublecmd.zdli
/doublecmd
/doublecmd.exe.old
